.font-satisfy {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-shadows {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}


.font-caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
